h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

#my_dataviz {
  margin: 5px auto 20px auto;
  user-select: none;
  border: solid;
  border-width: 0.5px;
  border-radius: 2%;
  border-color: silver;
  box-shadow: 3px 3px 6px 2px #555,
    3px 3px 10px 3px rgba(255, 255, 255, 0.8) inset;
}

#co-input {
  width: 40%;
}

.sticky-item {
  user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
  top: 10%;
  z-index: 1;
  position: sticky;
  float: right;
}

.control_panel {
  width: 35%;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px #555,
    3px 3px 10px 3px rgba(255, 255, 255, 0.8) inset;
}

.control_panel .control_title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}

table {
  margin: 30px auto 0px 20px;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 3px 3px 6px 2px #555,
    3px 3px 10px 3px rgba(255, 255, 255, 0.8) inset;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: auto;
  padding: 6px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: auto;
  padding: 6px 0;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr td:nth-of-type(7), table tr th:nth-of-type(7) {
  display: none;
}

.stop1 {
  stop-color: yellow;
  stop-opacity: 0.2;
}

.stop2 {
  stop-color: yellow;
  stop-opacity: 0.2;
}

.stop3 {
  stop-color: red;
  stop-opacity: 1.0;
}

.stop4 {
  stop-color: red;
  stop-opacity: 0.1;
}

.stop5 {
  stop-color: red;
  stop-opacity: 0.1;
}

.limit-rect {
  opacity: 1.0;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: #ffffff;
  padding: 5px 12px 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #666666;
  opacity: 0.0;
}

.limit-line-tooltip {
  background: #ffcccc;
}

.axis-label {
  font-size: 1.3em;
}

.draggable {
  opacity: 0.7;
  stroke: silver;
  stroke-width: 1;
  stroke-opacity: 0.3;
  rx: 2;
  ry: 2;
}

#input_indicator {
  background: linear-gradient(to right, #FFFF66 0%, #FFFF66 100%);
}

.flex_container {
  display: flex;
  justify-content: space-around;
  margin: 80px auto 20px 10px;
  padding: 10px 10px;
  align-items: end;
  /* border: solid; */
}

#download_span {
  display: none;
}

.button_span {
  width: 30%;
  height: 29px;
  user-select: none;
  background: #ddd;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 0;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  box-shadow: 3px 3px 6px -2px #555,
    3px 3px 8px rgba(255, 255, 255, 0.8) inset;
}

.button_span:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

#download_span:hover {
  background: #6bb6ff;
  color: #FFF;
}

#upload_span:hover {
  background: #ef4645;
  color: #FFF;
}

.button_span:hover:after {
  right: 1.4rem;
}

#download_span:active {
  transition: 0.2s ease-in-out;
  color: black;
  box-shadow: 2px 2px 4px #555 inset;
}

#upload_span:active {
  transition: 0.2s ease-in-out;
  color: black;
  box-shadow: 2px 2px 4px #555 inset;
}
