h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}


.control_panel {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.control_panel .control_title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}


table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: auto;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: auto;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}


table tr td:nth-of-type(7), table tr th:nth-of-type(7) {
  display: none;
}

.stop1{
  stop-color: yellow;
  stop-opacity: 0.2;
}
.stop2{
  stop-color: yellow;
  stop-opacity: 0.2;
}
.stop3{
  stop-color: red;
  stop-opacity: 1.0;
}
.stop4{
  stop-color: red;
  stop-opacity: 0.1;
}
.stop5{
  stop-color: red;
  stop-opacity: 0.1;
}

.limit-rect {
  opacity: 1.0;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: #ffffff;
  padding: 5px 12px 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #666666;
  opacity: 0.0;
}

.limit-line-tooltip {
  background: #ffcccc;
}

.draggable {
  opacity: 0.9;
  stroke: silver;
  stroke-width: 1;

  rx: 1;
  ry: 1;
}


#input_indicator {
  background: linear-gradient(to right, #FFFF66 0%,  #FFFF66 100%);
}
